@model tasarım1.Models.Apartlar

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout2.cshtml";
}
<br>
<h2>Apart Silme</h2>

<h3>Bunu silmek istiyor musunuz?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eposta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eposta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aciklama)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Apart")
        </div>
    }
</div>
